hr{
    width:190%;

  }

table, th, td {
    border-collapse: collapse;
    margin-top: 2%;
    justify-content: center;
    
}

th{
    font-weight: 200;
}
th, td {
    text-align: center;
    border-bottom: 0.1px solid white;
    padding: 3%;
    padding-left: 10px;
    padding-right: 10px;

}

tr:hover {background-color: transparent;}

.center {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%
}